* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #377850;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 24px;
  color: #073b1b;
  font-size: 36px;
  font-weight: 600;
}

form {
  width: 500px;
  background-color: #f7faf8;
  border: 1px #ccc solid;
  padding: 36px;
  border-radius: 8px;

  -webkit-box-shadow: 0px 8px 30px -12px rgb(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 8px 30px -12px rgb(255, 255, 255, 0.3);
  box-shadow: 0px 8px 30px -12px rgb(255, 255, 255, 0.3);
}

form .input {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

form .input label {
  color: #03220f;
  font-size: 18px;
}

form .input input {
  padding: 8px;
  border-radius: 8px;
  border: 1px #ccc solid;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

form .input .help {
  color: #585858;
  font-size: 14px;
}

form .buttons,
form .result {
  margin-top: 12px;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form .buttons button {
  margin: 12px 0px;
  padding: 12px 36px;
  color: #f7faf8;
  background: #377850;
  border: 1px #2b6e45 solid;
  border-radius: 8px;
  font-size: 16px;

  cursor: pointer;

  -webkit-box-shadow: 0px 8px 30px -12px rgba(80, 163, 112, 0.35);
  -moz-box-shadow: 0px 8px 30px -12px rgba(55, 120, 80, 0.35);
  box-shadow: 0px 8px 30px -12px rgba(55, 120, 80, 0.35);
}

form .buttons button:hover {
  filter: brightness(0.8);
  transition: 0.5s ease;
}

form footer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #24312a;
}
